:root{
    --main-color-blue: #00b8ff;
}

*{
    word-break: keep-all;
}

body{
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 100;
}

.header-wrapper{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo-img{
    width: 112px;
    height: 23px;
    background-image: url(../img/logo-w.svg);
    background-repeat: no-repeat;
    background-size: 112px 23px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
}

.hamburger-button{
    width: 36px;
    height: 14px;
    cursor: pointer;
}

.hamburger-button span{
    position: absolute;
    display: block;
    width: 26px;
    height: 3px;
    background-color: #fff;
}

.button-bottom{
    margin: 11px 0 0 10px;
}

.hamburger-container{
    display: none;
}

.main-title{
    width: 100%;
    height: 100vh;
    background-image: url(../img/main_visual_fullscreen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text{
    color: #fff;
    font-size: 66px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0 0 0/ 40%);
    opacity: 1;
}

.intro-container{
    padding: 0 40px;
    box-sizing: border-box;
}

.intro{
    margin: 100px auto;
    max-width: 800px;
}

.intro-title{
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: -0.025em;
    font-weight: bold;
    color: #374553;
}

.intro-title::after{
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color-blue);
    margin-left: 5px;
}

.intro-text{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    font-weight: bold;
    color: #aaa;
    margin-top: 16px;
}

.intro-img{
    padding: 50px 0;
}

.intro-img img{
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: auto;
}

.count-user-container{
    position: relative;
    width: 100%;
    height: 444px;
    padding: 64px 0 80px 0;
    background-color: #F7F8F9;
    box-sizing: border-box;
}

.count-user{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.count-user h2{
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
    color: #aaa;
    z-index: 2;
}

.blue-text{
    color: var(--main-color-blue);
}

.count-up{
    font-weight: bold;
}

.count-user-container::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 444px;
    background-color: var(--main-color-blue);
    transform: skewX(-30deg) translateX(82%);
    top: 0;
    z-index: 1;
}

.more-info{
    display: none;
}

.more-info-links li{
    position: relative;
    border-top: 1px solid #ddd;
}

.more-info-links li a{
    display: block;
    width: 100%;
    padding: 16px 22px;
    font-size: 15px;
    color: #374553;
    font-weight: bold;
    text-indent: 32px;
}

.bullet-point-circle::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.bullet-point-circle.main::before{
    background-color: var(--main-color-blue);
}

.bullet-point-circle.blue::before{
    background-color: #00469D;
}

.bullet-point-circle.yellow::before{
    background-color: #FFC400;
}

.bullet-point-circle.orange::before{
    background-color: #FF6F61;
}

.bullet-point-arrow::before{
    position: absolute;
    top: 50%;
    transform: translate(-5px, -50%);
    content: "";
    display: block;
    width: 32px;
    height: 20px;
    background-image: url(../img/arrow-01.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left center;
}



footer{
    width: 100%;
    padding: 40px 18px 100px;
    background-color: #28323C;
    box-sizing: border-box;
}

.footer-wrapper{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.sns-links{
    display: grid;
    grid-template-columns: repeat(4, 30px);
    column-gap: 10px;
}

.sns-icon-img img{
    width: 30px;
    height: 30px;
}

.footer-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
}

.footer-nav li{
    margin: 0 20px 8px 0;
}

.footer-nav li a{
    font-size: 15px;
    color: #C5C8CE;
}

.footer-nav li .accent{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.corp-area{
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.corp-left, .corp-right{
    width: 50%;
}

.corp-left dl{
    display: flex;
}

.corp-left dd{
    margin-left: 2px;
}

.corp-left dl, .corp-right ul{
    font-size: 13px;
    line-height: 1.7;
    color: #646F7C;
}

.corp-right li a{
    color: #C5C8CE;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3px;
}

.download-app{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 340px;
    height: 90px;
    z-index: 100;
    box-shadow: 64px -2px 19px -4px rgb(0 0 0 / 20%);
}

.app-img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-image: url(../img/i-appicon.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 12px;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}

.socar-download{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.03em;
}

.socar-download::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    top: 50%;
    transform: translate(10px, -50%);
}


.download-app-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 36px;
    background-color: var(--main-color-blue);
    transform: skewX(-30deg);
    z-index: -1;
}


@media screen  and (max-width: 768px) {
/* header */
    header{
        height: 52px;
        padding: 0 18px;
    }

    .header-wrapper{
        height: 52px;
    }

    .main-logo-img{
        width: 100px;
        height: 20px;
        background-size: 100px 20px;
    }

/* main */
    .main-title{
        background-image: url(../img/main_visual_mobile.jpg);
        background-position: top;
    }

    .title-text{
        font-size: 40px;
    }

/* intro */
    .intro-container{
        padding: 0 22px;
    }

/* count-user  */
    .count-user-container{
        height: 304px;
    }
    
    .count-user h2{
        font-size: 25px;
    }

    .count-user-container::after{
        height: 304px;
    }

/* more-info */
    .more-info{
        display: block;
    }

/* footer */
    footer{
        padding: 40px 18px 72px;
    }

    .footer-nav li{
        margin: 0 20px 4px 0;
    }

    .footer-nav li a{
        font-size: 13px;
    }

    .corp-area{
        flex-wrap: wrap;
    }

    .corp-left, .corp-right{
        width: 100%;
    }

    .corp-right{
        margin-top: 16px;
    }

    .corp-left dl, .corp-right ul{
        font-size: 12px;
    }

/* download-app */
    .download-app{
        width: 100%;
        height: 56px;
    }

    .app-img{
        width: 40px;
        height: 40px;
        background-size: 40px;
        left: 24px;
        border-radius: 8px;
    }
}